@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Light-color-schemes*/

.light-background {
    background-color: rgba(50, 163, 56, 0.89);
    color: #fafafa;
}

.light-color-bars { 
    color: rgba(50, 163, 56, 0.89);
    background-color: rgb(143, 246, 250);
}

.light-background-content {
    background-color: rgb(48, 243, 123);
    border-radius: 10%;
}

.light-section-background {
    background-color: rgb(175, 249, 252);
}

.pet-bar{
    padding-left: 50%;
}

.pets-nav h2 {
    padding-left: 10%;
}
/*Navbar*/

.pets-nav {
   
    padding-top: 2em;
    padding-bottom: 2em;
}

.pets-nav li {
    padding-right: 20px;
    
}

.pets-nav a {
    font-family: "Exo", sans-serif;
    font-weight: bolder;
}

.pets-nav i {
    font-size: 3rem;
  
}

.pets-nav button {
    margin-right: 1em;
}

.pets-nav-link {
    border-color: rgba(50, 163, 56, 0.89);
    border-bottom: 3px solid;
}



/*content index*/

.pets-index {
    padding-top: 10%;
    padding-bottom: 30%;
}

.pets-index p {
    font-family: "Merriweather", sans-serif;
    text-align: center;
}

.pets-index-p {
    border-radius: 10%;
}

.pets-index h1 {
    text-align: center;
    font-family: "exo", sans-serif;
}

/*content dogs*/

.dogs-content {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}

.dogs-content h2 {
    border: 3px solid;
    border-color: black;
    border-radius: 8%;
    margin-right: 20%;
    margin-left: 20%;
}

.dogs-content p {
    border: 3px solid;
    border-color: black;
   
}

.dogs-content img {
    margin-bottom: 3%;
    margin-top: 3%;
    border: 3px solid;
    border-color: black;
}

div#dogmap {
    min-height: 360px;
}

.dogInfo {
    display: none;
}

/*Cats-content*/

.cats-content {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}

.cats-content h2 {
    border: 3px solid;
    border-color: black;
    border-radius: 8%;
    margin-right: 20%;
    margin-left: 20%;
}

.cats-content p {
    border: 3px solid;
    border-color: black;
   
}

.cats-content img {
    margin-bottom: 3%;
    margin-top: 3%;
    border: 3px solid;
    border-color: black;
}

.catsInfo {
    display: none;
}

/*Pets-contact*/

.pet-contact {
    padding-top: 5%;
    padding-bottom: 5%;
}

/*Footer*/

.pet-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 0%;
    margin-right: 0%;
}

